:root {
  --primary: #121212;
  --card: #1e1e1e;

  --text-default: #f2f2f2;
  --text-button: #f2f2f2;
  --button: #6366f1;
  --dark-button: #4547b5;
  --dark-button-active: #212265;
}

:root.dark {
  --primary: #f8f9fa;
  --card: #ffffff;

  --text-default: #212529;
  --text-button: #ffffff;
  --button: #2563eb;
  --dark-button: #4547b5;
  --dark-button-active: #212265;

  --box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.08);
}
