.inputContainer {
  margin: 20px 40px;
  border-radius: 10px;
  box-shadow: var(--box-shadow);
  padding: 16px;
  display: flex;
  position: relative;
}

.defaultInput {
  color: var(--text-default);
  width: 100%;
  background-color: transparent;
  outline: none;
  border: var(--box-shadow);
  border-radius: 10px;
  font-size: 1.6rem;
  padding: 20px 120px 20px 16px;
  box-sizing: border-box;
}

.inputButton {
  color: var(--text-button);
  background-color: var(--button);
  font-weight: bold;
  font-size: 1.6rem;
  text-decoration: none;
  border-radius: 10px;
  border: none;
  padding: 12px 20px;
  position: absolute;
  cursor: pointer;
  top: 50%;
  right: 8px;
  transform: translateY(-50%);
}
