.headerContent {
  display: flex;
  justify-content: space-between;
  margin: 20px 0px;
}

.header {
  color: var(--text-default);
  font-size: 2.6rem;
  font-weight: bold;
  display: flex;
  flex-direction: column;
}

.header span {
  color: var(--text-default);
  font-size: 1.4rem;
}

button.theme {
  color: var(--text-button);
  background-color: var(--button);
  text-decoration: none;
  border-radius: 10px;
  border: none;
  width: 70px;
  cursor: pointer;
}

button.theme:hover {
  background-color: var(--dark-button);
  transition: 0.2s;
}

button.theme:active {
  color: var(--dark-button-active);
}
