.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1.4rem;
  margin: 20px 40px;
}

.footer span {
  color: var(--text-default);
  font-weight: bold;
}

.footer button {
  font-weight: bold;
  color: var(--button);
  border: none;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.footer button:hover {
  color: var(--dark-button);
  transition: 0.2s;
}

.footer button:active {
  color: var(--dark-button-active);
}
